<div class="container">
    <header>
        <h1 style="text-align:center">Steve's BART project</h1>
    </header>
    <section>
        <h2 style="text-align:center">COEN 315 Web Architecture and Protocols - Assignment 4 !!</h2>
        <div>
            <img src="/images/bartLogo.png" alt="Bart Logo" class="center">
            <p style="text-align:center">Image credit to:
                <a href="https://commons.wikimedia.org/wiki/File:Bart-logo.svg" style="text-decoration: none;">Wikimedi
                    Commons</a>
            </p>
        </div>
    </section>
</div>